In [2]:
import pandas as pd
import json

In [8]:
with open('nyc_tobacco.json') as json_data:
    d = json.load(json_data)

In [15]:
df = pd.DataFrame(d['data'])

In [36]:
lats = []
longs = []
for i in range(len(df)):
    lats.append(df.loc[:,18][i][1])
    longs.append(df.loc[:,18][i][2])

In [25]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,16604,000776C1-0879-4593-AF33-533E249E2F21,16604,1482944776,912986,1482945019,705890,None,NYC,BLISS DELI & GROCERY CORP,4622 QUEENS BOULEVARD,SUNNYSIDE,NY,11104,NEW YORK CITY,NEW YORK CITY,GROCERY SUPERMARKET,2016-05-09T00:00:00,"[{""address"":""4622 QUEENS BOULEVARD"",""city"":""SU..."
1,16497,0019D1AE-142E-4128-A0CC-DC1F01C4CAF8,16497,1482944776,912986,1482945019,705890,None,NYC,2355 DELI & GROCERY CORP,2355 GRAND CONCOURSE,BRONX,NY,10468,BRONX,NEW YORK CITY,CONVENIENCE STORE,2016-05-09T00:00:00,"[{""address"":""2355 GRAND CONCOURSE"",""city"":""BRO..."
2,16503,002FCEB0-55B9-4B2E-8625-FC3C99E2255D,16503,1482944776,912986,1482945019,705890,None,NYC,4G DELI CORP,11316 SUTPHIN BOULEVARD,JAMAICA,NY,11435,QUEENS,NEW YORK CITY,GROCERY SUPERMARKET,2016-05-09T00:00:00,"[{""address"":""11316 SUTPHIN BOULEVARD"",""city"":""..."
3,16396,00481BF2-6EF4-4070-9908-614272B46A33,16396,1482944776,912986,1482945019,705890,None,NYC,124 STOP 1 FOOD MART INC,124 UNION STREET,BROOKLYN,NY,11231,BROOKLYN,NEW YORK CITY,GROCERY SUPERMARKET,2016-05-09T00:00:00,"[{""address"":""124 UNION STREET"",""city"":""BROOKLY..."
4,16925,00ED9B11-F642-45D3-908B-9C9335F6381F,16925,1482944776,912986,1482945019,705890,None,NYC,KAID ABDULLA NAGI,2185 PACIFIC STREET,BROOKLYN,NY,11233,BROOKLYN,NEW YORK CITY,GROCERY SUPERMARKET,2016-05-09T00:00:00,"[{""address"":""2185 PACIFIC STREET"",""city"":""BROO..."

In [54]:
tbc = pd.DataFrame()

In [55]:
tbc = pd.concat([tbc, df.loc[:,[0, 8, 9,10,11,13,14,16]]])

In [56]:
tbc['latitude'] = lats
tbc['longitude'] = longs

In [57]:
len(tbc.columns)

10

In [58]:
tbc.columns

Index([0, 8, 9, 10, 11, 13, 14, 16, u'latitude', u'longitude'], dtype='object')

In [59]:
tbc.head()

,0,8,9,10,11,13,14,16,latitude,longitude
0,16604,NYC,BLISS DELI & GROCERY CORP,4622 QUEENS BOULEVARD,SUNNYSIDE,11104,NEW YORK CITY,GROCERY SUPERMARKET,40.742926268000076,-73.91821291099996
1,16497,NYC,2355 DELI & GROCERY CORP,2355 GRAND CONCOURSE,BRONX,10468,BRONX,CONVENIENCE STORE,40.85901719700007,-73.89924838099995
2,16503,NYC,4G DELI CORP,11316 SUTPHIN BOULEVARD,JAMAICA,11435,QUEENS,GROCERY SUPERMARKET,40.68646109600007,-73.79406595499995
3,16396,NYC,124 STOP 1 FOOD MART INC,124 UNION STREET,BROOKLYN,11231,BROOKLYN,GROCERY SUPERMARKET,40.68419413200007,-74.00244823299994
4,16925,NYC,KAID ABDULLA NAGI,2185 PACIFIC STREET,BROOKLYN,11233,BROOKLYN,GROCERY SUPERMARKET,40.675747510000065,-73.91400869999995

In [60]:
tbc.columns = ['id','city','name','address','neigborhood','zip','county','type','latitude','longitude']

In [61]:
tbc.head()

,id,city,name,address,neigborhood,zip,county,type,latitude,longitude
0,16604,NYC,BLISS DELI & GROCERY CORP,4622 QUEENS BOULEVARD,SUNNYSIDE,11104,NEW YORK CITY,GROCERY SUPERMARKET,40.742926268000076,-73.91821291099996
1,16497,NYC,2355 DELI & GROCERY CORP,2355 GRAND CONCOURSE,BRONX,10468,BRONX,CONVENIENCE STORE,40.85901719700007,-73.89924838099995
2,16503,NYC,4G DELI CORP,11316 SUTPHIN BOULEVARD,JAMAICA,11435,QUEENS,GROCERY SUPERMARKET,40.68646109600007,-73.79406595499995
3,16396,NYC,124 STOP 1 FOOD MART INC,124 UNION STREET,BROOKLYN,11231,BROOKLYN,GROCERY SUPERMARKET,40.68419413200007,-74.00244823299994
4,16925,NYC,KAID ABDULLA NAGI,2185 PACIFIC STREET,BROOKLYN,11233,BROOKLYN,GROCERY SUPERMARKET,40.675747510000065,-73.91400869999995

In [69]:
tbc.to_csv('nyc_tobacco_locations.csv', encoding='utf-8', index=False)

In [71]:
len(tbc)

21130

In [72]:
len(tbc)/2

10565